 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/back_image.jpg");
  background-position: 50% 50%;
  min-height: 1803px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  margin: 58px 387px 0 388px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  font-size: 1.875rem;
  font-weight: 700;
  width: 525px;
  margin: 14px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 795px;
  margin: 0 auto 1px calc(((100% - 1140px) / 2) + 173px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 299px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/foto_image.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  min-height: 504px;
  background-image: url("images/white_background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(255,255,255,0.95);
  margin: 28px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 827px;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 17px;
}

.u-section-1 .u-image-3 {
  filter: brightness(0.95);
  width: 594px;
  height: 522px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 81px auto 0;
}

.u-section-1 .u-text-5 {
  line-height: 2.2;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  width: 487px;
  margin: -510px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 46px;
  min-height: 16px;
  width: 297px;
  min-width: 148px;
  margin: 110px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1093px;
  }

  .u-section-1 .u-text-1 {
    width: 525px;
    margin-left: calc(((100% - 940px) / 2) + 208px);
    margin-right: calc(((100% - 940px) / 2) + 208px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 208px);
    margin-right: calc(((100% - 940px) / 2) + 208px);
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2) + 145px);
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.95);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 434px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 149px;
    margin-right: 148px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 456px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 503px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 59px;
    margin-right: 58px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 203px;
  }

  .u-section-1 .u-image-2 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 457px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -445px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 82px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-1 .u-image-2 {
    min-height: 215px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 502px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -269px;
    width: 320px;
  }
}